/* NAVBAR */
.is-white-hov-blue {
	font-size: 16px;
	color: #fff !important;
}

.is-white-hov-blue:hover {
	color: rgb(4, 177, 252) !important;
}
.bg-nav-dark {
	background-color: #182432;
}
.brand-logo {
	height: 2.25rem;
	-webkit-user-drag: none;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.nav-scrolled {
	border-bottom: 2px solid #cb1c5a;
}
.navbar-toggler-icon {
	background-color: #cb1c5a;
	color: #fff !important;
}
.navbar-toggler:focus {
	text-decoration: none;
	outline: 0;
	box-shadow: 0 0 0 0rem;
	border-color: rgb(4, 177, 252);
}
